@charset "utf-8";
table {
    background-color: #67B5C5;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    border: 5px solid #FFCE00;
}
td {
    border: medium solid #FFCE00;
}
h2 {

}


h1 {
    color: #001E25;
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}
td {
    border-width: 0px;
}
